*.mex*
*.o
*.a
*.cai
*.exe
*.dll
*.pdf
*.obj
*.so
*.lib
*.rar
*.zip
*.tar
*.tgz
*.7z
*.7zip
*.sbr
*.exp
*.ilk
*.pdb
*.res
*.tlog
*.log
*.idb
*.cache
*.enc
*.lastbuildstate
*.pyc
*.npy
*.doc
*.xls
*.docx
*.xlsx
*.ppt
*.pptx
*.vsd
*.hex
*.dng
*.raw
*.dvs
*.avi
*.mov
*.mp4
*.mp3
*.mp2
*.mpg
*.mpeg
*.mat
*.hdf5
*.pkl
*.so
/.idea
/.cache
/__pycache__
/images
